.todo-item {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;
  border: 1px solid;
  padding: 10px;
  border-radius: 5px;
}

.todo-item .todo-value {
  flex: 1;
  display: flex;
  align-items: center;
}

.todo-value > p {
  width: 100%;
  height: 25px;
  padding: 10px;
  border-radius: 5px;
}

.todo-value .complete {
  text-decoration: line-through;
}

.todo-item .todo-option {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
